@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
:root {
  --body-font: 'Lato', sans-serif;
}
body {
  font-family: var(--body-font);
  margin: 0 ;
  padding: 0;
}

a {
  text-decoration: none;
  color:#c99e71 ;
} 
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden ;
}
.left {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  display: flex;
}
.left img {
  position: absolute;
  top: -200px;
  left: 0px;
  width: 100%;
}
.right {
  position: relative;
  display: flex;
  float: right;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(160deg,hsla(206,5%,24%,1)-4%,hsla(206,12%,12%,1)46%);top: 0%;
  justify-content: center;
  align-items: center;
  color: #fff;
}
  @media (max-width: 1150px) {
    .left img{
      position: absolute;
      top: 0;
      left: 0;
      height: 700px +;
      z-index: 2;
      background-size: cover;
    }
    .left{
      width: 100%;
      height: 100%;
    }
    .right {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      /* width: 50%; */
      height: fit-content;
      position: absolute;
      z-index: 3;
      padding: 42px;
      border-radius: 20px;
      box-shadow: 0.5px 0.5px 20px black;
    }
  }
.right-container .form-comp input[type="text"],
.right-container .form-comp input[type="password"]{
  padding: 10px;
  width: 75%;
  font-size: 20px;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2px solid hsl(0, 0%, 100%);
  border-radius: 0px;
  margin-bottom: 20px;
  transition: background-color .3s;
  color: rgba(255, 255, 255, 0.829);
}
.right-container .form-comp input[type="submit"]{
  background: #c99e71; 
  border: 0px solid rgba(0, 0, 0, 0.1);
  padding: 10px 90px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}